 <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <id>JKU-proxy</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>140.78.3.1</host>
            <port>3128</port>
            <username>proxyuser</username>
            <password>somepassword</password>
            <nonProxyHosts>.jku.at,.im.intern,140.78.,127.,172.17.,172.18.,localhost,gitti.im.intern,artifactory.im.jku.at,sourcery.im.jku.at</nonProxyHosts>
        </proxy>
    </proxies>
  </settings>
